<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Kanatech</title>
</head>
<body>

<div class="card">
    <h2>Kanatech</h2>

    <div class="erro" th:if="${param.error}">
        Usuário ou senha incorretos.
    </div>

    <form method="post" th:action="@{/login}">

        <input type="text"
               name="username"
               placeholder="Usuário"
               required
               autofocus />

        <input type="password"
               name="password"
               placeholder="Senha"
               required />

        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />

        <button type="submit">Entrar</button>

    </form>
</div>

</body>
</html>